[Unit]
Description=icebox
After=network.target

[Service]
Type=forking
ExecStart=/etc/init.d/icebox-public start
ExecReload=/etc/init.d/icebox-public restart  
ExecStop=/etc/init.d/icebox-public stop  
PrivateTmp=true  

[Install]
WantedBy=multi-user.target
